[defaults]
inventory = inventory.ini
remote_user = khoshaba
private_key_file = ~/.ssh/k8s_ansible_ed25519
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
timeout = 30
